.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-image: url('../../assets/landing-page.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

}

.search-container{
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}